@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
body {
    font-family: "Poppins", "Mono";
    padding: 0;
    margin: 0;
    background: #fafafa;
}
* {
    outline: 0;
}
.display-info {
    font-family: "Kalam";
}
